*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  --bg-blue-color: #007ACC;
}

body, html, #root{
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

/* FontAwesome font and icons */
@font-face{
	font-family: FontAwesome;
	src: url('./letters/fontawesome-webfont.ttf') format('truetype');
}

/* Roboto Family font */
@font-face{
	font-family: RobotoT;
	src: url("./letters/roboto/Roboto-Thin.ttf")
}

@font-face{
	font-family: RobotoL;
	src: url("./letters/roboto/Roboto-Light.ttf")
}

@font-face{
	font-family: RobotoM;
	src: url("./letters/roboto/Roboto-Medium.ttf")
}

@font-face{
	font-family: RobotoB;
	src: url("./letters/roboto/Roboto-Bold.ttf")
}

.fontawesome{ font-family: FontAwesome; }

.sans-serif{ font-family: "Arial", "Helvetica", "Roboto", Sans-serif; }

.roboto-thin{font-family: RobotoT;}
.roboto-lig{font-family: RobotoL;}
.roboto-medium{font-family: RobotoM;}
.roboto-bold{font-family: RobotoB;}
    
h1, h2{
  font-family: RobotoM, sans-serif;
  font-size: 40px;
}
    
p, span{
   font-family: RobotoL;
  font-size: 18px;
}

a{color: unset; text-decoration: none;}
a:hover{color: unset; text-decoration: none;}


.txt{ word-wrap: break-word;}
.txt-1, .txt-2{ text-align: justify; }


.flex{ display: flex; }
.f-row{ flex-flow: row wrap;}
.f-column{ flex-direction: column;}
.f-center{
  justify-content: center;
  align-items: center;
}

.f-left-top{ 
  justify-content: flex-start; 
  align-items: flex-start;
}

.f-left-bottom{
  align-items: flex-start;
  justify-content: flex-end;
}

.f-left-center{ 
  justify-content: flex-start; 
  align-items: center;
}

.f-right-top{ 
  justify-content: flex-end; 
  align-items: flex-start;
}

.f-right-center{ 
  justify-content: flex-end; 
  align-items: center;
}

.f-right-bottom{ 
  justify-content: flex-end; 
  align-items: flex-end;
}
